doctype html
html
  head
    title Reittikartta - #{title}
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-with, initial-scale=1')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    block style
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      span.navbar-brand Reittikartta
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false')
        span.navbar-toggler-icon
      div#navbar.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active: a.nav-link(href='/') Etusivu
    block content
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    block javascript

